@media screen and (min-width: 55rem) {
    body{
        margin: auto;
    }
    header{
        font-size: 1.5rem;
    }
    
    #menu{
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }

    ul.navigation, ul.navigation.open{
        display: flex;       
    }

    ul.navigation li{
        margin: 0 20px;
        border: none;
    }

    nav ul li a {
        padding: 10px;
        font-weight: 700;  
        font-size: 1.2rem;
    }
    .hero-message{
        position: absolute;
        top: 40%;
        width: 20%;
        margin-left: 30px;
        font-size: 1rem;
        background-color: #0D3B66;
        color: #F4D35E;
        text-align: center;
        opacity: 0.8;
        border-radius: 100px;
    }
    .top-cards{
        display: grid;
        grid-template-columns: 2fr 3fr;
        column-gap: 10px;  
    }
    .small-cards{
        border-bottom: none;  
    }
    .business-cards{
        margin-top: 40px;
        margin-right: 6rem;
    }
    .slide-card img{
        width: 80%;
        height: auto; 
        border-radius: 5px;
        margin-top: 1.5rem; 
    }
    .slide-card>.text{
        font-size: 2.5rem;  
    }
    .weather-container h4 span {
        font-size: 1.5rem;
      }
    
      #current-temp,
      #current-feel,
      #current-press,
      #weather-hr,
      #weather-desc {
        padding-top: 10px;
        font-size: 20px;
        font-weight: 700;
      }
    
      #weather-icon {
        width: 70px;
      }
    
      .containerAPI {
        width: auto;
        flex: none;
      }
      table {
        border-collapse: collapse;
        width: 100%;
      }
    
      th,
      td {
        padding: 3px;
        border: 1px solid #ddd;
      }
    
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
    
      th {
        padding-top: 12px;
        padding-bottom: 12px;
        width: auto;
        text-align: center;
        background-color: #4CAF50;
        color: white;
      }  
}