@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto&display=swap');

:root {
    --jetblue: #284b63ff;
    --wwhite: #FFFFFF;
    --darkgreen: #3c6e71ff;
    --lightgray: #d9d9d9ff;
}

html{
    background-color: var(--lightgray);
}

header{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--jetblue);
}

header img{
    width: 250px;
    margin: 2rem;
    border-radius: 3rem;
    border: 3px solid var(--lightgray);
    box-shadow: 0 0 13px var(--lightgray);
}

header p{
    padding: .25rem;
    font-size: 4dvb;
    font-family: 'Bangers', system-ui;
    color: var(--lightgray);
}


body{
    padding: 2rem;
    box-sizing: border-box;
}

main p{
    padding: .5rem;
    font-size: 1.5rem;
}

ul, ul li, footer p{
    font-size: 1.5rem;
}


nav{
    background-color: var(--darkgreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .2rem 0;
}

nav a{
    color: var(--lightgray);
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

nav a:hover{
    color: var(--wwhite)
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--lightgray);
    color: var(--jetblue);
    max-width: 1200px;
    margin: 0 auto;
}

#logo{
    width: 40vw;
    height: auto;
}

.color-container{
    display: flex;
    justify-content: space-evenly;
}

.color-container span{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    font-size: 1rem;
}

.color-container span:nth-child(1){
    background-color: var(--lightgray);
}

.color-container span:nth-child(2){
    background-color: var(--jetblue);
    color: black;
}

.color-container span:nth-child(3){
    background-color: var(--darkgreen);
    color: black;
}

.color-container span:nth-child(4){
    background-color: var(--wwhite);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    color: var(--jetblue);
    background-color: var(--green);
}

h1{
    font-size: 3rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#color-on-color{
    background-color: var(--jetblue);
    color: var(--darkgreen);
}

.wire-frame-h2{
    text-align: center;
    font-size: 2.5rem;;
}

picture{
    display: flex;
    justify-content: center;
}

footer{
    background-color: var(--darkgreen);
    color: var(--wwhite);
    text-align: center;
    margin: 1rem 0; 
}

.footer-container{
   padding: .5rem;
}

footer img{
    max-height: 1rem;
    margin: 0 .5rem;
}

.footer-box{
    display: flex;
    justify-content: center;
}