@media screen and (min-width: 55rem) {
    body{
        margin: auto;
    }
    header{
        font-size: 1.5rem;
    }
    
    #menu{
        display: none;
    }
    nav{
        display: flex;
        justify-content: space-around;
    }

    ul.navigation, ul.navigation.open{
        display: flex;       
    }

    ul.navigation li{
        margin: 0 20px;
        border: none;
    }

    nav ul li a {
        padding: 10px;
        font-weight: 700;  
        font-size: 1.2rem;
    }
    .hero-message{
        position: absolute;
        width: 100%;
        margin-left: 450px;
        margin-top: -150px;
        font-size: 2rem;
        background-color: #353535;
        color: #FFFFFF;
        text-align: center;
        opacity: .6;
        border-radius: 10px;
    }
    .top-cards{
        display: grid;
        grid-template-columns: 2fr 3fr;
        column-gap: 20px;  
    }

}

@media screen and (min-width: 70rem) {
    .hero-message{
        position: absolute;
        top: 45%;
        width: 60%;
        font-size: 2.5rem;
    }
}