@media screen and (min-width: 500px){
    
:root {
    --jetblue: #284b63ff;
    --wwhite: #FFFFFF;
    --darkgreen: #3c6e71ff;
    --lightgray: #d9d9d9ff;
}
    nav{
        flex-direction: row;
        justify-content: space-evenly;
    }

    header p{
        font-size: 8vw;
    }

    @keyframes rotate {
        0%, 100% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(5deg);
        }
    }
    
    #nav a {
        display: block; 
        background-color: var(--darkgreen);
        padding: .5rem;
        border: 1px solid var(--darkgreen);
        border-radius: 5%;
            }
        }