@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

a:link {
    color: #82676c
}
  
a:hover {
    color: #d86e81;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    max-width: 800px;
    margin: auto;
    display: center;
}
img {
    max-width: 200px;
    display: stretch;
    border-radius: 3px;
  }

  header,
  footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #d9acb4;
    color: black;
    text-align: center;
    padding: 1rem;
    margin: 0, auto;
    border-radius: 1rem;
  }
  
  header h1 {
      color: black;
      font-family: 'Roboto', sans-serif;
      font-size: 3.5rem;
      margin: auto;
  }

  header h2 {
      margin: auto;
      font-size: 35px;
      font-family: 'Roboto', sans-serif;    
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 900px;
    line-height: 1.9em;
    text-align: center;
  }
  
  main section {
      margin: 1rem;
      padding: 1rem;
      background-color: #ad8990;
      border-radius: 1rem;
  }
  
  main h2 {
      color: black;
      background-color: #d9acb4;
      font-size: 26px;
      text-align: center;
      padding: 10px;
      border-radius: 1rem;
      margin: 10px 0px;
  }
  
  main section h3 {
    color: black;
    font-size: 22px;
  }
   
  main section p {
      margin: 10px;
      font-size: 18px;
      line-height: 1;
      padding: .25rem;
  }
  

  .card{
    background-color: #d9acb4;;
    border: 1px solid black;
    padding: .25rem;
    border-radius: 8px;
    display: center;
  }

  .footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

footer p{
    padding-top: .5rem;
    margin: 1rem 0;
}

footer img{
    max-height: 20px;
    margin: 0 .5rem;
    border-radius: 1px;
}

.footer-box{
    display: flex;
    justify-content: center;
}

.last-update{
    color: black;
}