@media screen and  (min-width: 32.5em) {
	main {
		grid-template-columns: 1fr 1fr;
	}
	main section:nth-child(2) {
		display: block;
	}

	main section:nth-child(3) {
		grid-column: span 2;
	}

	/* Target the third image inside a <main> element */
	main section:nth-child(3) img {
		display: block;      /* Makes the image a block element */
		margin: 0 auto;      /* Centers the image */
	}
 
  footer{
    grid-column: span 2;
  }
}