* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #D9D9D9;
    font-weight: 400;
    color: #353535;
    margin: 0 auto;
}

/* Heading styles */
h1, h2, h3, h4 {
    font-family: "Playfair Display", serif;
}

/* Header styles */
header {
    display: flex;
    background-color: #3C6E71;
    color: #FFFFFF;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
}

header h1 {
    margin-left: 50px;
}

header img {
    width: 110px;
    border-radius: 3%;
    box-shadow: 1px 1px 5px #FFFFFF;
    margin: 0 10px;    
}

/* Navigation styles */
nav {
    font-family: 'Playfair Display', serif;
    background-color: #284B63;
}

#menu {
    font-size: 2rem;
    background: none;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    width: 44px;
    padding: .25rem 2vw;
    margin-left: 90%;
}

#menu::before {
    content: "\2630";
}

#menu.open::before {
    content: "\2716";
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    border: 1px solid #FFFFFF;
}

nav li:hover {
    background-color: #353535;
    opacity: .8;
}

ul.navigation li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

ul.navigation {
    display: none;
    list-style-type: none;
}

ul.navigation.open {
    display: block;
}

.active {
    background-color: #284B63;
}

li.active.link a {
    color: #FFFFFF;
    font-weight: 700;
}

/* Hero styles */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero picture {
    width: 100%;
    height: auto;
    z-index: -1;
}

.hero-message {
    margin: 0;
    width: 80%;
    font-size: 1.2rem;
    background-color: #353535;
    color: #FFFFFF;
    text-align: right;
    padding: 10px;
}

/* Next content styles */
.next-content {
    display: block;
    background-color: #3C6E71;
    color: #FFFFFF;
    margin: 25px auto;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.next-content img {
    width: 10%;
    height: auto;
    border-radius: 3px;
}

.next-event h2 {
    padding: 5px;
    margin-left: 2.5rem;
}

.next-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; 
    text-align: center;
    font-size: 1.5rem;
}

/* Top cards styles */
.top-cards {
    display: block;
}

.small-cards, .main-directory {
    display: block;
    align-items: center;
    justify-items: center;
    margin: 10px;
    text-align: center;
}

.small-cards h2 {
    box-shadow: 1px 1px 5px #D9D9D9;
}

.small-cards p {
    padding: 10px;
}

.small-cards img {
    margin: 10px;
}

/* Community styles */
.community {
    display: flex;
    background-color: #3C6E71;
    color: #FFFFFF;
    margin: 25px auto;
    border-radius: 10px;
    width: 65%;
    align-items: center;
    justify-content: space-evenly;
}

#weather-card {
    background-color: #3C6E71;
    color: #FFFFFF;
    margin: 5px auto;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    width: 77%;
}

/* Business cards styles */
.business-cards {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1.5rem;
}

.business-cards img {
    width: 65%;
    border-radius: 5px;
}

/* Slide card styles */
.slide-card {
    position: relative;
    text-align: center;
}

/* Main cards styles */
.main-cards {
    display: block;
    padding-top: 1.5rem;
    border-top: 3px solid #D9D9D9;
    margin: 1.5rem;
}

.main-cards h2 {
    padding: 5px;
    margin-left: 1rem;
}

/* Community and events cards styles */
.community-cards,
.events-cards {
    display: block;   
}

.community-card,
.event-card {
    margin: 10px;
    box-shadow: 1px 1px 5px #FFFFFF;
    background-color: #284B63;
    color: #FFFFFF;  
}

.event-card {
    background-color: #3C6E71;
    color: #FFFFFF;
}

.community-card img,
.event-card img {
    width: 100%;
}

.community-card h4,
.event-card h4 {
    text-align: center;
    padding: 5px;
}

/* Sidebar and pictures styles */
.sidebar,
.pictures {
    display: grid;
    grid-template-columns: 1fr;
}

.pictures {
    margin-right: 30px;
    margin-top: 6px;
}

.pictures img {
    width: 50%;
    height: auto;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

/* Footer styles */
footer {
    display: block;
    background-color: #3C6E71;
    color: #FFFFFF;
    padding: 20px;
    text-align: center; 
}

footer img {
    max-height: 13px;
    margin: 0 .5rem;
}

/* Mode styles */
#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
}

/* Discover page styles */
.welcome-message {
    grid-row: 1/2;
    background-color: #3C6E71;
    color: #FFFFFF;
    margin: 20px auto;
    width: 80%; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;    
}

#weather-card1 {
    background-color: #3C6E71;
    color: #FFFFFF;
    margin: 5px auto;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 77%;
}

.demographics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #284B63;
    color: #FFFFFF;
    margin: 28px auto;
    width: 90%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.population,
.employment,
.mayor,
.households,
.personshousehold,
.education {
    margin: .2rem;
    padding: 2rem;
    font-size: 1.8rem;
    text-align: center;
}

.demographics h5 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 8px;
    border-bottom: 2px solid #D9D9D9;
}

.pictures img {
    width: 100%;
    }

/* ---------------JOIN - FORM------------------*/

.join-main{
    display:block;
    margin: .5rem;
}
.form{
    display: block;
}
form fieldset{
    margin: 2rem 0;
    border: 1px solid #3C6E71;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend{
    color: #284B63;
    margin: 0 1rem;
    padding: 0 .5rem;
}

.top, label.top input, .top textarea{
    display: block;
    font-size: 1rem;
    margin-bottom: 20px;
    width: 100%;
    max-width: 20rem;
}
label.top input{
    border: 1px solid #3C6E71;
    border-radius: 10px;
    padding: .75rem;
}
form label.top input:required{
    border-left: red solid 6px;
}
form label.top input:required:valid{
    border-left: #3C6E71 solid 4px;
}

form label.top input:focus{
    outline-color: #284B63;
}

.sbs{
    display: block;
    margin-bottom: 5px;
    padding: .75rem 0;
}

.description{
    display: block;
    border: 1px solid #3C6E71;
    border-radius: 10px;
    margin-top: 5px;
    max-width: 20rem;
}
.description:focus{
    outline-color: #284B63;
}

form input.submitButton{
    background-color: #284B63;
    color: #FFFFFF;
    border-radius: 10px;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

.submitButton:hover{
    background-color: #3C6E71;
}

/* ---------------table------------------*/
.benefits{
    display: block;
    margin:0;
}

.table h3{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
} 

.table table{
    border: 2px solid #353535;
    margin: 5px;
    border-collapse:collapse;
    width: auto;
    font-size: .9rem;
}

thead{
    background-color: #284B63;
    color: #FFFFFF;
}

thead th{
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    word-wrap: break-word;
}
tbody th{
    background-color: #284B63;
    color: #FFFFFF;
    padding: .5rem;
    margin: .5rem; 
}

tbody th, tbody td{
    text-align: center;
    border: 2px solid #353535;
    word-wrap: break-word;
}

tr:nth-child(even) td {
    background-color: #3c6e71a2;
}
  
tr:nth-child(odd) td {
    background-color: #FFFFFF;
}

thead > :nth-child(2) > th:first-child{
    border-top: 2px solid #284B63;
}
thead > :nth-child(2) > :not(th:first-

child){
    border: 2px solid #353535;
}


/* ----Directory----*/
.directory-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.directory-cards section{
    display: block;
    margin: 1rem;
    text-align: center;
    background-color: #3C6E71;
    border: 1px solid #3C6E71;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #284B63;
}
.directory-cards div{
    margin-bottom: 1rem;
}
.directory-cards p, .directory-cards a{
    color: #FFFFFF;
    padding: .5rem;
    font-weight: 570;
    font-size: 20px;
}
.directory-cards a{
    text-decoration: underline;
}

.grid img{
  width: 90%;
  height: auto;
  padding: 1rem;
  border-radius: 20px;
}

.directory-cards section:hover{
    opacity: .8;
    background-color: #284B63;    
}

.menu{
    background-color: #284B63;
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}
.menu button{
    padding: .5rem;
    margin: .5rem;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section > div{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 0.25rem;
}

.list section{
	margin: 1rem;
    text-align: left;
}

.list section img {
	display: none;
}

.list section > div > a{
    display: block;
    word-break: break-all;
}

.list section:nth-child(even){
    background-color: #284B63;
    border-color: #3C6E71;
}
.list section:nth-child(even) p, .list section:nth-child(even) a{
    color: #FFFFFF;
}
