*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #D9D9D9;
    font-weight: 400;
    color: #3C6E71;
    margin: 0 auto;
}
h1, h2, h3, h4{
    font-family: "Playfair Display", serif;
}
header{
    display: flex;
    background-color: #3C6E71;
    color:#FFFFFF;
    padding: 20px;
    align-items: center;
    justify-content: flex-start;
}
header h1{
    margin-left: 50px;
}

header img {
    width: 110px;
    border-radius: 3%;
    box-shadow: 1px 1px 5px #FFFFFF;
    margin: 0 10px;    
}
nav{
    font-family: 'Playfair Display', serif;
    background-color: #284B63;
}
#menu{
    font-size: 2rem;
    background: none;
    border: none;
    color:#FFFFFF;
    cursor: pointer;
    width: 44px;
    padding: .25rem 2vw;
    margin-left: 90%;
}
#menu::before{
    content: "\2630";
}

#menu.open::before{
    content:"\2716";
}

nav ul {
    list-style-type: none;
    padding: 0;

}

nav li{
    border: 1px solid #FFFFFF;
}

nav li:hover {
    background-color: #353535;
    opacity: .8;
}

ul.navigation li a{
    display: block;
    color:  #FFFFFF;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}
ul.navigation{
    display: none;
    list-style-type: none;
}
ul.navigation.open{
    display: block;
}
.active{
    background-color:#284B63;
}
li.active.link a{
    color: #FFFFFF;
    font-weight: 700;
}
.hero{
    position: relative;
}
.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#hero picture {
    width: 100%;
    height: auto;
    z-index: -1;
}

.hero-message{
    margin: 0;
    width: 80%;
    font-size: 1.2rem;
    background-color: #353535;
    color: #FFFFFF;
    text-align: Right;
    padding: 10px;
}

.next-content{
    display: block;
    background-color:#3C6E71;
    color:#D9D9D9;
    margin: 25px auto;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    justify-content:space-evenly;
}
.next-content img{
    width: 10%;
    height: auto;
    border-radius: 3px;
}

.next-event h2{
    padding: 5px;
    margin-left: 2.5rem;
}
.next-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; 
    text-align: center;
    font-size: 1.5rem;
}
.top-cards{
    display:block;
}

.small-cards{
    display: block;
    align-items: center;
    justify-items: center;
    margin: 10px;
    text-align: center;
    border-bottom: 2px solid #284B63
}

.small-cards h2{
    box-shadow: 1px 1px 5px #D9D9D9
}

.small-cards p{
    padding: 10px;
}

.small-cards img{
    margin:10px
}
.community{
    display: flex;
    background-color:#3C6E71;
    color:#D9D9D9;
    margin: 25px auto;
    border-radius: 10px;
    width: 65%;
    align-items: center;
    justify-content:space-evenly;
}

#weather-card{
background-color:#3C6E71;
color:#D9D9D9;
margin: 5px auto;
border-radius:5px;
text-align: center;
font-size: 1.5rem;
width: 77%;
}
.business-cards{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1.5rem;
}

.business-cards img{
    width: 65%;
    border-radius: 5px;
}

.slide-card{
    position: relative;
    text-align: center;
}

.main-cards{
    display: block;
    padding-top: 1.5rem;
    border-top: 3px solid #3C6E71;
    margin:1.5rem;
}
.main-cards h2{
    padding: 5px;
    margin-left: 1rem;
}

.community-cards, .events-cards{
    display:block;   
}
.community-card, .event-card{
    margin: 10px;
    box-shadow: 1px 1px 5px #FFFFFF;
    background-color:#284B63;
    color:#FFFFFF  
}
.event-card{
    background-color: #3C6E71;
    color: #FFFFFF;

}
.community-card img, .event-card img{
    width: 100%;
}
.community-card h4, .event-card h4{
    text-align: center;
    padding: 5px;
}
.sidebar, .pictures{
    display: grid;
    grid-template-columns: 1fr;
}
.pictures{
    margin-right: 20px;
}

.pictures img{
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
}



footer{
    display: block;
    background-color: #3C6E71;
    color: #FFFFFF;
    padding: 20px;
    text-align: center; 
}

footer img{
    max-height: 13px;
    margin: 0 .5rem;
}





#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
}

/*------discover page--------*/

.sidebar, .pictures{
    display: grid;
    grid-template-columns: 1fr;
}

.welcome-message{
    grid-row: 1/2;
    background-color: #3C6E71;
    color:#D9D9D9;
    margin: 20px auto;
    width: 80%; 
    border-radius:5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;    
}

#weather-card1{
    background-color:#3C6E71;
    color:#D9D9D9;
    margin: 5px auto;
    border-radius:5px;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 77%;
    }
.demographics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #284B63;
    color: #FFFFFF;
    margin: 28px auto;
    width: 90%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius:5px;
}

.population, .employment, .mayor, .households, .personshousehold, .education{
    margin: .2rem;
    padding: 2rem;
    font-size: .75rem;
    text-align: center;
}
.demographics h5{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 8px;
    border-bottom:2px solid #D9D9D9;
}
.pictures{
    margin-right: 20px;
}

.pictures img{
    width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    .demographics {
        width: 95%; /* Adjust width for smaller screens */
        font-size: 0.6rem; /* Adjust font size for smaller screens */
    }
}