@media screen and (min-width: 55rem) {
    /* Your existing styles for larger screens */

    .demographics {
        width: 80%; /* Adjust width as needed */
        font-size: 1rem; /* Adjust font size as needed */
    }

    .pictures {
        grid-row: 1/18;
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pictures img {
        width: 100%;
    }

    .pictures img:hover {
        filter: contrast(50%);
    }
}

@media screen and (min-width: 70rem) {
    /* Additional styles for even larger screens */

    .hero-message {
        position: absolute;
        top: 45%;
        width: 60%;
        font-size: 2.5rem;
    }

    .demographics {
        width: 95%;
        font-size: 0.6rem;
    }

    .pictures {
        margin-right: 0; /* Remove margin on smaller screens */
        align-items: center;
    }
}