@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&family=Roboto&display=swap');

body{
    font-family:'Libre Caslon', Roboto, monospace;
    background-color:#395a7f;
    color: #333;
    width: 100%;
}
header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    background-color: #395a7f;
    padding: 1.5rem;
    color:white;
    text-align: center;
    height: 30%;
}

header p {
    margin: 0 auto;
    color: white;
    text-align: center;
}

.profile-img {
        margin: 0 auto;
        width: 100px;
        height: auto;
        border-radius: 3%;
        border: 1px solid #ece6e6;
        box-shadow: 0 0 30px rgb(129, 141, 129);
    }


nav {
    display:grid;
    background: black;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}


nav a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Libre Caslon";
    font-weight: bold;
    display: block;
    padding: 20px;
}

nav a:hover{
    background-color:aliceblue;
}

.frontend{
    color: 395a7f;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 2rem;
    border-bottom: 1px #395a7f;
    margin-left: 2em;
    margin-right: 2em;
}


.card {
    text-align: center;
    width: 80%;
    margin-left: 6% ;
    margin-right:6% ;
    outline: 2px lightgray solid;
    border-radius: 3px;
}


.card ul{
list-style: none;
}

.footer{
    background-color: #395a7f;
    margin:0 auto;
    justify-content: center;
    text-align: center;
}
